/* regole generali */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* blocco sfondo verde */
#top {
  height: 100px;
  width: 100%;
  position: relative;
  background-color: rgb(0, 153, 136);
}

/* blocco sfondo grigio */
#bottom {
  height: calc(100vh - 100px);
  position: relative;
  background-color: rgb(216, 219, 211);
}

/* regole schermata whatsapp */
.container {
  height: calc(100vh - 100px);
  width: 85%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  z-index: 999;
}

/* regole colonna sinistra */
#column-left {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  background-color: white;
  z-index: 999;
}

/* regole colonna destra */
#column-right {
  width: calc(100% - 35%);
  border-left: 1px solid lightgrey;
}

/* regole blocco utente*/
.head-left {
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  height: 15%;
}

.item-flex-left  {
  width: 70%;
  display: flex;
  align-items: center;
}

.head-img > img {
  max-width: 50px;
  border-radius: 50px;
  margin-right: 5px;
}

.item-flex-right {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fas, .fa {
  color: grey;
  margin: 0 10px;
}

.fas, .fa:hover {
  cursor: pointer;
}

#style-img:hover {
  cursor: pointer;
}

/* regole blocco notifiche */
#notifiche {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(118, 220, 255);
}

.notice-span {
  display: block;
}

.fa-bell-slash {
  border-radius: 100px;
  padding: 10px;
  background-color: white;
  color:rgb(118, 220, 255);
}

#style-span-notice {
  text-decoration: underline;
  color: rgb(49, 91, 106);
}

#style-span-notice:hover {
  cursor: pointer;
}

/* regole blocco search */
.input {
  display: flex;
  padding: 10px;
  background-color: rgb(235, 236, 236);
}

.style-input {
  width: 100%;
  border: none;
  height: 30px;
  padding: 10px;
}

#input-search {
  display: flex;
  align-items: center;
  background-color: white;
  max-height: 30px;
}

/* regole blocco chat singole*/
.item-container {
  overflow: auto;
  background-color: white;
  max-height: 50%;
}

/* regole blocco chat attive */

.chat {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.chat:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.chat img {
  max-width: 20%;
  border-radius: 50px;
  margin-right: 5px;
}

.chat-left {
  display: flex;
  align-items: center;
  width: 50%;
}

.chat-right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.style-chat {
  font-size: 12px;
  display: block;
  color: grey;
}

/* regole blocco utente chat aperta */

.head-right {
  background-color: rgb(234, 234, 234);
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* regole blocco chat aperta */
.style-container-chat {
  background-image: url(../img/mine.jpg);
  height: calc(100% - 30%);
  overflow: auto;
  padding: 20px 0;
}

.send {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 5px 30px;
}

.received {
  display: flex;
  width: 100%;
  padding: 5px 30px;
}

.item-send {
  width: 30%;
  padding: 10px;
  background-color: rgb(203, 251, 179);
  border-radius: 10px;
  font-size: 15px;
}

.item-received {
  width: 30%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 15px;
}

.hour {
  display: block;
  font-size: 12px;
  text-align: right;
  color: grey;
  margin-top: 5px;
}

/* regole blocco messaggio input */
#item-fix {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: rgb(244, 238, 233);
  height: 15%;
  width: calc(100% - 35%);
}

.item-fix-aside{
  width: 10%;
}

.item-fix-mid {
  width: 90%;
}

.style-item-fix {
  text-align: center;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
