<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
  </head>
  <body>
    <main>
      <!-- blocco verde di sfondo -->
      <div id="top">
        <!-- contenitore centrato schermata whatsapp -->
        <div id="container">
          <!-- blocco sinistro -->
          <div id="column-left">
            <!-- blocco utente -->
            <div class="head-left">
              <div class="item-flex-left">
                <div class="head-img">
                  <img id="style-img" src="img/avatar_io.jpg" alt="">
                </div>
                <div>
                <span> <strong>Pippa Rossi</strong></span>
                </div>
              </div>
              <div class="item-flex-right">
                <i class="fas fa-circle-notch"></i>
                <i class='fas fa-comment-alt'></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <!-- fine blocco utente -->

            <!-- blocco notifiche -->
            <div id="notifiche">
              <i class="fas fa-bell-slash"></i>
              <div>
                <span class="notice-span"> <strong>Ricevi notifiche di nuovi messaggi</strong> </span>
                <span class="notice-span" id="style-span-notice"> Attiva notifiche desktop</span>
              </div>
            </div>
            <!-- fine blocco notifiche -->

            <!-- blocco ricerca -->
            <div class="input">
              <div id="input-search">
                <i class="fa fa-search" id="input-search"></i>
              </div>
              <input type="search" class="style-input" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- fine blocco ricerca -->

            <!-- blocco chat -->
            <div class="item-container">
              <!-- blocco singola chat -->
              <!-- lascio una classe statica mentre aggiungo una classe solo se l'indice corrisponde all'indice dell'oggetto selezionato -->
              <!-- creo ciclo v-for per stampare a schermo tutti gli elementi dell'array chat -->
              <div class="chat" :class="{'active': index === indexChat}" v-for="(element, index) in chat" @click="selectcontact(index)">
                <div class="chat-left">
                  <img id="style-img" :src="element.img" alt="">
                  <div>
                    <span> <strong>{{element.name}}</strong> </span>
                    <span class="style-chat">{{element.message[element.message.length -1].text}}</span>
                  </div>
                </div>
                <div class="chat-right">
                  <span class="style-chat"></span>
                </div>
              </div>

            </div>
            <!-- fine blocco chat -->

          </div>
          <!-- fine blocco sinistro -->

          <!-- blocco destro -->
          <div id="column-right">
            <!-- blocco chat aperta header-->
            <div class="head-right">
              <div class="item-flex-left">
                <div class="head-img">
                  <img id="style-img" :src="chat[indexChat].img" alt="">
                </div>
                <div>
                  <span> <strong>{{chat[indexChat].name}}</strong> </span>
                  <span class="style-chat">Ultimo accesso oggi 20/11/2020 alle 12:01:32</span>
                </div>
              </div>
              <div class="item-flex-right">
                <i class="fa fa-search"></i>
                <i class="fa fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
            <!-- blocco conversazione -->
            <div class="style-container-chat">
              <!-- attraverso una condizione verifico se si tratta di un messaggio inviato o ricevuto e a seconda del risultato assegna una classe -->
              <div :class="[ message.status === 'item-received' ? 'received' : 'send']" v-for="(message, i) in chat[indexChat].message">
                <div :class="message.status">
                  <p>{{message.text}}</p>
                  <span class="hour">{{message.day}}</span>
                </div>
              </div>

            </div>
            <!-- blocco input messaggio -->
            <div id="item-fix">
              <div class="item-fix-aside style-item-fix">
                <i class="fas fa-smile"></i>
              </div>
              <div class="item-fix-mid">
                <input type="search" class="style-input" placeholder="Cerca o inizia una nuova chat">
              </div>
              <div class="item-fix-aside style-item-fix">
                <i class="fa fa-paper-plane"></i>
              </div>
            </div>
            <!-- fine blocco input messaggio -->

          </div>
          <!-- fine colonna destra -->

        </div>
        <!-- fine contenitore schermata whatsapp -->

      </div>
      <!-- blocco grigio di sfondo -->
      <div id="bottom">

      </div>

    </main>






    <!-- javascript -->
    <script src="js/script.js"></script>
  </body>
</html>
